+++
title = "Home"
description = "Welcome"
+++

{% extends "_base.jinja" %}

{% block content %}
<main class="main">
    <section>
        <h1 id="hello">
            <span>Hello World!</span>
        </h1>
    </section>
</main>
{% endblock %}
