<header class="header">
  <h1 class="title">
    <a href="/">Home</a>
  </h1>
  <nav class="nav">
    <ul class="nav__links">
      <li class="nav__link"><a href="/">home</a></li>
    </ul>
  </nav>
</header>
